html{
    color: #DDF2FD;
}


body{
    background-color: #9BBEC8;
    margin-top: 150px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 120px auto 120px;
    gap: 80px;

}
#date{
    display: grid;
    padding-bottom: 50px;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    text-align: center;
    width: 400px;
    background-color: #427D9D;
    border-radius: 20px;
}
ul{
    list-style: none;
    padding-right: 40px;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #427D9D;
    border-radius: 20px;
}
li{
    margin-bottom: 20px;
    background-color: #164863;
    height: 30px;
    width: auto+1;
    max-width: 500px;
    min-width: 295px;
    font-size: 20px;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;

}
.checkbox {
    height: 20px;
    width: 20px; 
    background-color: #183c50;
    outline: none; 
    border: 12px solid #000; 
    border-radius: 50%; 
}
h1{
    text-align: center;
}
#date, #todo,#footing {
    margin: 0 auto;
}
form{
    display: grid;
    grid-template-columns: auto auto ;
    align-items: center; justify-content: center;
    
}
button{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: #9BBEC8;
    outline: none;
    border: none;
    font-size: 14px;
    font-weight: 700;
    text-align: center;
    
}

.inp{
    height: 30px;
    width: 250px;
    border-radius:10px ;
    background-color: #164863;
    font-size: 20px;
    outline: none;
    border: none;
    padding-left: 20px;
    color: #DDF2FD;
    margin-right: 25px;
    align-items: center; justify-content: center;

    

}
#footing{
    margin-top: 60px;
    margin-bottom: 50px;
}





