<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TO DO LIST</title>
    <link rel="stylesheet" href="../style.css">
</head>
<body>
    <div id="date">
    <h1>hello there buddy today is <%=dayname%> </h1>
</div>
<div id="todo">
    <ul >
        
        <%for(let i = 0;i<items.length;i++){%>
            <li><input type="checkbox" class="checkbox">
                <%=items[i]%></li>
        <%}%>
        <form action="/" method="post">
            <input type="text" name="act" placeholder="enter new activity " class="inp">
            <button type="submit" name="butt"> add </button>
        </form>
    </ul>

    
</div>
<div id="footing">
    @credits to ousema
</div>

</body>
</html>